* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    display: flex;
    flex-flow: column;
    margin: auto;

    @media screen and (min-width: 1440px){
        max-width: 1440px;
    }
}